<div class="modal" id="demoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-center"><b>AGREGAR</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit( f )" #f="ngForm"> <br>
                    <h6>Complete la información solicitada</h6> <br>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Tipo</div>
                        </div>
                        <select class="form-control" placeholder="Seleccionar" [(ngModel)]="solicitud.tipo" name="tipo" aria-describedby="addon-wrapping">
                          <option value="seleccion">Seleccionar...</option>
                          <option value="Pase">Pase Empleado</option>
                          <option value="Hora Extra">Hora Extra</option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Rut</div>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="solicitud.rut" name="rut" placeholder="Empleado" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Fecha</div>
                        </div>
                        <input type="date" class="form-control" [(ngModel)]="solicitud.fecha" name="fecha" placeholder="Ingresar Fecha" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Inicio</div>
                        </div>
                        <input type="time" class="form-control" [(ngModel)]="solicitud.horainicio" name="hora_inicio" placeholder="Ingresar Hora" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Término</div>
                        </div>
                        <input type="time" class="form-control" [(ngModel)]="solicitud.horatermino" name="hora_termino" placeholder="Ingresar Hora" aria-describedby="addon-wrapping">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" type="submit">Registrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Editable table -->
<!--<div class="form-group">
    <h4 class="font-weight-bold text-uppercase py-1">Tipo Solicitud:</h4>
    <select class="form-control" [(ngModel)]="opcionSeleccionado" (change)="capturar()">
      <option value="0">Seleccionar...</option>
      <option *ngFor="let dato of datos">{{dato}}</option>
    </select>
</div>-->

<!-- Prueba para ver la opción seleccionado
<p [hidden]="opcionSeleccionado == '0'">Haz seleccionado la opción {{ verSeleccion }}</p>-->


<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Solicitudes</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
          <a class="text-success" >
            <!-- <mdb-icon fas icon="plus"  (click)="add()" size="2x"></mdb-icon> -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#demoModal">Agregar Solicitud</button><br>
            <!--<i class="material-icons" style="font-size:48px;color:green" data-toggle="modal" data-target="#demoModal">add_box</i>-->
          </a>
        </span>

            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Rut Empleado</th>
                    <th class="text-center">Fecha Solicitud</th>
                    <th class="text-center">Hora Inicio</th>
                    <th class="text-center">Hora Término</th>
                    <th class="text-center">Acción</th>
                </tr>
                <tr *ngFor="let item of Aemple; let i = index">
                    <th class="text-center">{{ item.rut }}</th>
                    <th class="text-center">{{ item.fecha }}</th>
                    <th class="text-center">{{ item.horainicio }}</th>
                    <th class="text-center">{{ item.horatermino }}</th>
                    <th class="text-center">{{ item.tipo }}</th>
                </tr>
                <!-- <tr>
            <th class="text-center">Person Name</th>
            <th class="text-center">Age</th>
            <th class="text-center">Company Name</th>
            <th class="text-center">Country</th>
            <th class="text-center">City</th>
            <th class="text-center">Sort</th>
            <th class="text-center">Remove</th>
          </tr>
          <tr *ngFor="let person of personList; let id = index">
            <td>
              <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
            </td>
            <td>
              
            </td>
            <td>
              <span class="table-remove">
                <button type="button" class="btn danger" (click)="remove(id)">Eliminar</button>
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
              </span>
            </td>
          </tr> -->
            </table>
        </div>
    </div>
</div>
<!-- Editable table -->