@media all and (min-width: 768px) {
    tr  {
        vertical-align: middle !important;
    }
    
    td {
        vertical-align: center !important;
    }
    
    span {
        padding: 1rem 1rem;
    }
  }

.danger {
    background-color: red;
}

.btn {
    border-radius: 5%;
    color: white;
    padding: 7px 14px;
    cursor: pointer;
}

h4 {
    font-size: 14px;
}

th{
    font-weight: bold;
    text-transform: uppercase;
}

.btn-success{
    border-radius: 3%;
}

.k1 {
    margin-top: 5px;
}