<input class="form-control" type="text" searchable="Search here.." placeholder=" Search " aria-label="Search ">
<div class="card jose " style="width: 18rem; ">
    <img src="../../../../assets/images/img/img.png " class="card-img-top " alt="... ">
    <ul class="list-group list-group-flush ">
        <li class="list-group-item ">Nombre Jose</li>
        <li class="list-group-item ">Rut</li>
        <li class="list-group-item ">Departamento</li>
        <li class="list-group-item ">Jefe Supervisor</li>
    </ul>
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/edit.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/hour.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/delete.png " width=25px height=25px></a>
            </div>
        </div>
    </div>
</div>
<div class="card jose " style="width: 18rem; ">
    <img src="../../../../assets/images/img/img.png " class="card-img-top " alt="... ">
    <ul class="list-group list-group-flush ">
        <li class="list-group-item ">Nombre</li>
        <li class="list-group-item ">Rut</li>
        <li class="list-group-item ">Departamento</li>
        <li class="list-group-item ">Jefe Supervisor</li>
    </ul>
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/edit.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/hour.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/delete.png " width=25px height=25px></a>
            </div>
        </div>
    </div>
</div>
<div class="card jose " style="width: 18rem; ">
    <img src="../../../../assets/images/img/img.png " class="card-img-top " alt="... ">
    <ul class="list-group list-group-flush ">
        <li class="list-group-item ">Nombre</li>
        <li class="list-group-item ">Rut</li>
        <li class="list-group-item ">Departamento</li>
        <li class="list-group-item ">Jefe Supervisor</li>
    </ul>
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/edit.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/hour.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/delete.png " width=25px height=25px></a>
            </div>
        </div>
    </div>
</div>
<div class="card jose " style="width: 18rem; ">
    <img src="../../../../assets/images/img/img.png " class="card-img-top " alt="... ">
    <ul class="list-group list-group-flush ">
        <li class="list-group-item ">Nombre</li>
        <li class="list-group-item ">Rut</li>
        <li class="list-group-item ">Departamento</li>
        <li class="list-group-item ">Jefe Supervisor</li>
    </ul>
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/edit.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/hour.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/delete.png " width=25px height=25px></a>
            </div>
        </div>
    </div>
</div>
<div class="card jose " style="width: 18rem; ">
    <img src="../../../../assets/images/img/img.png " class="card-img-top " alt="... ">
    <ul class="list-group list-group-flush ">
        <li class="list-group-item ">Nombre</li>
        <li class="list-group-item ">Rut</li>
        <li class="list-group-item ">Departamento</li>
        <li class="list-group-item ">Jefe Supervisor</li>
    </ul>
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/edit.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/hour.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/delete.png " width=25px height=25px></a>
            </div>
        </div>
    </div>
</div>
<div class="card jose " style="width: 18rem; ">
    <img src="../../../../assets/images/img/img.png " class="card-img-top " alt="... ">
    <ul class="list-group list-group-flush ">
        <li class="list-group-item ">Nombre</li>
        <li class="list-group-item ">Rut</li>
        <li class="list-group-item ">Departamento</li>
        <li class="list-group-item ">Jefe Supervisor</li>
    </ul>
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/edit.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/hour.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/delete.png " width=25px height=25px></a>
            </div>
        </div>
    </div>
</div>
<div class="card jose " style="width: 18rem; ">
    <img src="../../../../assets/images/img/img.png " class="card-img-top " alt="... ">
    <ul class="list-group list-group-flush ">
        <li class="list-group-item ">Nombre</li>
        <li class="list-group-item ">Rut</li>
        <li class="list-group-item ">Departamento</li>
        <li class="list-group-item ">Jefe Supervisor</li>
    </ul>
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/edit.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/hour.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/delete.png " width=25px height=25px></a>
            </div>
        </div>
    </div>
</div>
<div class="card jose " style="width: 18rem; ">
    <img src="../../../../assets/images/img/img.png " class="card-img-top " alt="... ">
    <ul class="list-group list-group-flush ">
        <li class="list-group-item ">Nombre</li>
        <li class="list-group-item ">Rut</li>
        <li class="list-group-item ">Departamento</li>
        <li class="list-group-item ">Jefe Supervisor</li>
    </ul>
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/edit.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/hour.png " width=25px height=25px></a>
            </div>
            <div class="col-sm-4 ">
                <a href="# " class="card-link "><img src="../../../../assets/images/icons/delete.png " width=25px height=25px></a>
            </div>
        </div>
    </div>
</div>