<!-- Editable table -->
<div class="form-group">
    <h4 class="font-weight-bold text-uppercase py-1">Falta:</h4>
    <select class="form-control" [(ngModel)]="opcionSeleccionado" (change)="capturar()">
        <option value="0">Seleccionar...</option>
        <option *ngFor="let dato of datos">
          {{dato}}
        </option>
    </select>
</div>


<!-- Editable table -->
<div class="card">
    <h5 class="card-header text-center font-weight-bold text-uppercase py-4">Retrasos</h5>
    <div class="card-body">
        <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Rut Empleado</th>
                    <th class="text-center">Tipo Falta</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Minutos de Restrasos</th>
                    <th class="text-center">Observacion</th>
                </tr>
                <tr *ngFor="let item2 of Aemple1; let i = index">
                    <th class="text-center">{{ item2.rut }}</th>
                    <th class="text-center">{{ item2.tipo }}</th>
                    <th class="text-center">{{ item2.fecha }}</th>
                    <th class="text-center">{{ item2.minutos}} </th>
                    <th class="text-center">{{ item2.observacion }}</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <h5 class="card-header text-center font-weight-bold text-uppercase py-4">Ausencia</h5>
    <div class="card-body">
        <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Rut Empleado</th>
                    <th class="text-center">Tipo Falta</th>
                    <th class="text-center">Fecha de Inicio</th>
                    <th class="text-center">Fecha de Termino</th>
                    <th class="text-center">Observación</th>
                </tr>
                <tr *ngFor="let item1 of Aemple; let i = index">
                    <th class="text-center">{{ item1.rut }}</th>
                    <th class="text-center">{{ item1.tipo }}</th>
                    <th class="text-center">{{ item1.fecha_inicio }}</th>
                    <th class="text-center">{{ item1.fecha_termino}} </th>
                    <th class="text-center">{{ item1.observacion }}</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- Editable table -->